{% include "layouts/header.html"%}

{% block content %}

  {% load static %}
	<!DOCTYPE html>
	<html>
	<head>
		<title>Agregar producto</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<h1 style="font-family: Arial; text-align: center;">Agregar producto</h1>
		<form method="post" id="reg_form" data-subcategories1-url="{% url 'ajax_load_Subcategories1' %}" data-subcategories2-url="{% url 'ajax_load_Subcategories2' %}" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
			  {{ form }}
			</table>

			
			<script>
				$("#id_category").change(function () {
				var url = $("#reg_form").attr("data-subcategories1-url");  // get the url of the `load_cities` view
				var idCat = $(this).val();  // get the selected country ID from the HTML input
				console.log(url)
				$.ajax({                       // initialize an AJAX request
					url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
					data: {
						'cat': idCat       // add the country id to the GET parameters
					},
					success: function (data) {   // `data` is the return of the `load_cities` view function
						$("#id_subCategory1").html(data);  // replace the contents of the city input with the data that came from the server
					}
				});

				});
			</script>

			<script>
				$("#id_subCategory1").change(function () {
				var url = $("#reg_form").attr("data-subcategories2-url");  // get the url of the `load_cities` view
				var idsubCat = $(this).val();  // get the selected country ID from the HTML input
				console.log(url)
				$.ajax({                       // initialize an AJAX request
					url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
					data: {
						'subcat': idsubCat       // add the country id to the GET parameters
					},
					success: function (data) {   // `data` is the return of the `load_cities` view function
						$("#id_subCategory2").html(data);  // replace the contents of the city input with the data that came from the server
					}
				});

				});
			</script>

			<button type="submit">Save</button>
			<a href="{% url 'add_product' %}">Nevermind</a>
		</form>
	</body>
	</html>
{% endblock %}
