{% include "layouts/header.html"%}
{% include "layouts/sellers_nav.html"%}
{% include "layouts/ventas_nav.html"%}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/historial_ventas.css' %}" />
  </head>
  <body>
    <main >
        <section class="historial">
          <div class="my_container" > 
            <div class="venta_item">
              <div class="square">
                <img class="venta_item__img" src="{{ image }}" alt="{{ productname }}">
              </div>
              <div>
                <p>{{ productname }}</p>
                <p>Tipo: 
                    {% if sell.sellType == True %}
                      Subasta
                    {% else %}
                      Venta
                    {% endif %}
                </p>
              </div>
              <div>
                <p>N. Orden: {{ saleId }}</p>
                <p>Costo: ${{ sell.price }}</p>
                <p>Costo: 
                  {% if sell.sellType == True %}
                  ${{ sell.price }}
                  {% else %}
                  ${{ sell.price }}
                  {% endif %}
              </p>
                <p>Costo Envio: {{ sell.shippingFee }}</p>
                <p>Cantidad: {{ sell.quantity }}</p>
                <p>Estatus: {{ sell.deliveryStatus }}</p>
                <p>Direccion de envio: {{ sell.shippingAdress }}</p>
              </div>
              <div class="buttons">
                <a href="/mis_ventas/historial_ventas"  class="button red"> Regresar </a>
              </div>
            </div>
          </div>
        </section>
    </main>
  </body>
</html>
{% endblock %}


