{% include "layouts/header.html"%}
{% include "layouts/sellers_nav.html"%}
{% include "layouts/ventas_nav.html"%}

{% block content %}

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Historial Ventas</title>
      <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
      <link rel="stylesheet" href="{% static 'styles/historial_ventas.css' %}" />
    </head>
    <body>
        <main >
              <section class="historial">
                  <div class="my_container" > 
                    {% if sells|length == 0 %}
                      <h3 class="message">No se ha realizado ninguna venta</h3>
                    {% endif %}
                    {% for sell in sells %}
                      <div class="venta_item">
                          <div class="square">
                              <img class="venta_item__img" src="{{ sell.prod_img }}" alt="{{ sell.prod_name }}">
                          </div>
                          <div>
                              <p>{{sell.prod_name}}</p>
                              <p>Tipo: 
                                  {% if sell.sellType %}
                                    Subasta
                                  {% else %}
                                    Venta
                                  {% endif %}
                              </p>
                          </div>
                          <div>
                              <p>N. Orden: {{ sell.id }}</p>
                              <p>Costo: ${{ sell.price }}</p>
                              <p>Estatus: {{ sell.deliveryStatus }}</p>
                          </div>
                          <div class="buttons">
                            <button onclick="details_sale('{{ sell.id }}')" class="btn btn-danger delete_button">Ver detalles</button>
                              {% if sell.tipo and not sell.cancelled %}
                              <form action="{% url 'cancelar_subasta' %}" method="POST">
                                  {% csrf_token %}
                                  <button type="submit" name="product" value="{{sell.id_prod}}" class="button red">Cancelar</button>
                              </form>
                              {% endif %}
                              {% if sell.tipo and sell.cancelled %}
                                  <div class="button red">Cancelado</div>
                              {% endif %}
                          </div>
                      </div>
                    {% endfor %}
                  </div>
              </section>
        </main>
      </body>
    </html>
    <script>
      function details_sale(id_sale){
        document.location.href = "{% url 'historial_ventas_detalle' id_sale='tmp' %}".replace('tmp', id_sale)
    }
    </script>
{% endblock %}
