{% include "layouts/header.html"%}
{% block content %}

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Paymentts Details - pbay </title>
      <link rel="stylesheet" href="{% static 'styles/PaymentDS.css' %}" />
    </head>
    <body>
      <main >
        <h1 class = "text-center Title">Paymentts Details - pbay </h1>

        {% comment %} <div class="paddingizq dropdown show" >
          <h4 class="nav-link dropdown-toggle text-secondary py-0 " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtrar por:
          </h4>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Año </a>
            <a class="dropdown-item" href="#">Mes </a>
            <!--
            <a class="dropdown-item" href="#">dir3</a>
            -->
        </div>
        </div> {% endcomment %}

        <!--
        <div class= "paddingizq dropdown show" >

          <h4 class="nav-link dropdown-toggle text-secondary py-0 " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtrar :
          </h4>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">dir1</a>
            <a class="dropdown-item" href="#">dir2</a>
            <a class="dropdown-item" href="#">dir3</a>
          </div>
        </div>
        -->
        {% for item in info %}
        <div class= " cointainerProduct">
          <div class = "column2">
            <h3> Año:     {{item.0}}</h3>
            <h3> Mes:     {{item.1}}</h3>
            <h3> Total:   {{item.2}}</h3>
            {% if item.1 == month %}   
            <h3> Estatus: Pendiente</h3>
            {% else %}
            <h3> Estatus: Pagado</h3>
            {% endif %}
            <div class="buttons">
              <a href='/mis_ventas/historial_pagos/{{item.3}}/{{item.0}}' class="btn btn-primary details-button">Ver Detalles</a>
            </div> 
          </div>
        </div>
        {% endfor %}


      </main>

      </body>
    </html>
{% endblock %}