
{% include "layouts/header.html"%}
{% block content %}
  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Product Details - pbay </title>
      <link rel="stylesheet" href="{% static 'styles/PDS.css' %}" />
    </head>
    <body>
      <main >
        <h1 class = "text-center Title">Product Details - pbay </h1>
          <div class="paddingizq dropdown show" >
            <form id="orden-form" method="POST">
              {% csrf_token %}
              {{ form }}
              {% comment %} {{ form2 }} {% endcomment %}
              <input type="submit" value="Submit" style="display: none;">
            </form>
            
          </div>

        {% for item in htmlinfo %}
        <div class= "cointainerProduct">
          <div class = "column1">
            <figure class ="ContainerImage">
              
              <img class = "imgproduct"
              {% if item.6 == 'Subasta' %}
                src="{{item.12}}" 
              {% else %}
                src="{{item.10}}"
              {% endif %}
              alt="Logo"/>
              
          </figure>
          </div>
          <div class = "column2">
            <h2> Product: {{item.0}} </h2>
            <h3> Category: {{item.1}} </h3>
            <h5> Description: {{item.2}} </h5>
            <h5> Brand: {{item.3}} </h5>
            <h5> Model: {{item.4}} </h5>
            <h5> Condition: {{item.5}} </h5>
            <h5> Type: {{item.6}} </h5>
            <h5> Price: {{item.7}} </h5>
            <h5> Stock: {{item.8}} </h5>
            <h5> Publication Date: {{item.9}} </h5>


            <div class="buttons">
                <form method="POST" action="delete_producto">
                    {% csrf_token %}
                    <input id="idDoc" name="idDoc" type="text" value="{{item.11}}" style="display: none"/>
                    <input class="button red" type="submit" value="Elimiar"/>
                </form>
                <button onclick="delete_sheet('{{ item.11 }}')" class="btn btn-danger delete_button blue">Modificar</button>
            </div>            

          </div>
        </div>
        {% endfor %}
      </main>

      </body>
    </html>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('#orden-form');
    
        // Captura el evento de cambio en el formulario
        form.addEventListener('change', function() {
          // Envía el formulario automáticamente
          form.submit();
        });
      });

      const deleteProduct = (id) => {

          console.log("Entra: " + id);
      }
    </script>

    <script>
      function delete_sheet(prod_id){
        confirm("¿Estás seguro de que deseas eliminar esta boleta electoral?")
        document.location.href = "{% url 'modify_product' prod_id='tmp' %}".replace('tmp', prod_id)
    }
    </script>
    
{% endblock %}





