{% include "layouts/header.html"%}
{% include "layouts/sellers_nav.html"%}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Mis productos</title>
      <link rel="stylesheet" href="{% static 'styles/products.css' %}" />
    </head>
    <body>
        <div class="container">
            <div class="filter-bar">
                <form id="orden-form" method="POST">
                    {% csrf_token %}
                    {{ form1 }}
                    <br>
                    {{ form2 }}
                    <input type="submit" value="Submit" style="display: none;">
                </form>
                <a href="{% url 'add_product' %}"><button type="button" style="padding:5px;" > Agregar un producto</button></a>
            </div>
            {% for item in htmlinfo %}
                {% if item.3 == 'Venta Directa' %}
                    <div class="mosaic-parent">
                        <div class="mosaic-child">
                            <img class="product-image" src="{{item.1}}">
                            <section class="info">
                                <h4>Producto: {{item.4}}</h4>
                                <h5>Categoria: {{item.5}}</h5>
                                <h6>Disponibilidad: {{item.0}} - {{item.6}} </h6>
                            </section>
                            <section class="details">
                                <h5>Tipo: Venta</h5>
                                
                                <h5>Precio: ${{item.7}}</h5>
                                <h5>Inventario: {{item.8}}</h5>
                            </section>
                        </div>
                        <section class="button-section">
                            <button class="product-button delete" type="button"> Eliminar</button>
                            <a href="{% url 'detalles_producto' %}"><button class="product-button" type="button"> Ver detalles</button></a>
                        </section>
                    </div>
                    {% else %}
                        <div class="mosaic-parent">
                            <div class="mosaic-child">
                                <img class="product-image" src="{{item.1}}" >
                                <section class="info">
                                    <h4>Producto: {{item.3}}</h4>
                                    <h5>Categoria: {{item.4}}</h5>
                                    <h6>Disponibilidad: {{item.0}} - {{item.12}} </h6>
                                </section>
                                <section class="details">
                                    <h5>Tipo: Subasta</h5>
                                    
                                    <h5>Oferta Inicial: {{item.10}}</h5>
                                    <h5>Oferta Minima: {{item.11}}</h5>
                                </section>
                            </div>
                            <section class="button-section">
                                <button class="product-button delete" type="button"> Eliminar</button>
                                <a href="{% url 'detalles_producto' %}"><button class="product-button" type="button"> Ver detalles</button></a>
                            </section>
                        </div>
                    {% endif %}
            {% endfor %}
       </div>

    </body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('#orden-form');
  
      // Captura el evento de cambio en el formulario
      form.addEventListener('change', function() {
        // Envía el formulario automáticamente
        form.submit();
      });
    });
</script>
{% endblock %}