
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href = "{% static 'styles/menu.css' %}" rel = "stylesheet">
    <link href = "{% static 'styles/icons/fonts.css' %}" rel = "stylesheet">

    {% block jquery %}

    <script src = "{% static 'scripts/jquery-latest.js' %}"></script>
    <script src = "{% static 'scripts/encabezado.js' %}"></script>

    {% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>

    <header class = "menu"> 
        
        <nav class="navbar navbar-white bg-light pb-0 pt-1 flex-grow-1 justify-content-evenly">
            <ul class="mx-10">
                <li class="mx-5"><a href = "{% url 'compras' %}" class='pb-0 pt-1'> <div> <img src = "{% static 'assets/pbay_bgblank_small.png' %}"> </div> </a></li>
                <li class="mx-5">
                  <div class="input-group">
                    <input type="text" class="form-control" id="searchInput" placeholder="Buscar Productos" aria-label="searchBar" aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                      <a id="searchLink" href="#" class='py-0 pt-1'><span class="icon-search"></span></a>
                    </div>
                  </div>
                </li>
                <li class="mx-5"><a href = "{% url 'home' %}" class='pb-0 pt-1'><span class = "icon-bell-o"></span></a></li>
                <li class="mx-5"><a href = "{% url 'carrito' %}" class='pb-0 pt-1'><span class = "icon-shopping-cart"></span></a></li>
            </ul>
        </nav>
        <nav class="navbar navbar-white bg-light border-bottom border-dark py-0 flex-grow-1 justify-content-evenly">
            <ul>
                <li class="nav-item dropdown mx-5"> <!-- direcciones -->
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle text-secondary py-0 " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Enviar a:
                        </a>
                        <form id="myForm">
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"  id = "direcciones">
                            {% csrf_token %}
                          </div>
                        </form>
                      </div>
                </li>
                <li class="nav-item dropdown mx-5"> <!-- Categorias -->
                  {% include "layouts/arbol.html"%}
                </li>
                <li class="nav-item dropdown mx-5"> <!-- direcciones -->
                  <div class="dropdown show">
                      <a class="nav-link dropdown-toggle text-secondary py-0 " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Listas de deseos:
                      </a>
                      <form id="myForm">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"  id = "lista">
                          {% csrf_token %}
                        </div>
                      </form>
                    </div>
              </li>
                <li class="nav-item dropdown mx-5"> <!-- Mi Cuenta -->
                    <div class="dropdown show">
                        <a class="nav-link dropdown-toggle text-secondary py-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Mi Cuenta
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/miCuenta/">Mi Cuenta</a>
                          <a class="dropdown-item" href="/pedidos/">Mis Pedidos</a>
                          <a class="dropdown-item" href="{% url 'historial_ventas' %}">Ventas</a>
                          <a class="dropdown-item" href="{% url 'home' %}">Cerrar Sesión</a>
                        </div>
                      </div>
                </li>
            </ul>
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}


</body>
</html>

<script>
  document.getElementById('searchLink').addEventListener('click', function() {
    var searchValue = document.getElementById('searchInput').value;
    var url = "{% url 'search_products' %}?search=" + encodeURIComponent(searchValue);
    window.location.href = url;
  });


  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Buscar el nombre del token CSRF
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

  $(document).ready(function() {
    // Hacer la solicitud AJAX al backend de Django
    $.ajax({
      url: '/obtener_elementos/',  // Reemplaza '/ruta/al/backend/' por la URL correcta de tu vista de Django
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        // 'data' contiene la respuesta del backend de Django
        // Puedes iterar sobre los e lementos recibidos y crear los enlaces del menú desplegable dinámicamente
        var dropdownMenu = $('#direcciones');  // Selecciona el menú desplegable
        var item = $('<a>').addClass('dropdown-item text-danger').text(data[0]);
        dropdownMenu.append(item);
        // Itera sobre los elementos recibidos y crea los enlaces del menú desplegable
        for (var i = 1; i < data.length; i++) {
          var item = $('<a>').addClass('dropdown-item').text(data[i]);
          dropdownMenu.append(item);
        }
      },
      error: function(xhr, status, error) {
        // Maneja el error de la solicitud AJAX, si es necesario
        console.error(error);
      }
    });
  });

  $(document).ready(function() {
    // Hacer la solicitud AJAX al backend de Django
    $.ajax({
      url: '/getWishList/',  // Reemplaza '/ruta/al/backend/' por la URL correcta de tu vista de Django
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        // 'data' contiene la respuesta del backend de Django
        // Puedes iterar sobre los elementos recibidos y crear los enlaces del menú desplegable dinámicamente
        var dropdownMenu = $('#lista');  // Selecciona el menú desplegable
        // Itera sobre los elementos recibidos y crea los enlaces del menú desplegable
        for (var i = 0; i < data.length; i++) {
          var item = $('<a>').addClass('dropdown-item').text(data[i]);
          dropdownMenu.append(item);
        }
      },
      error: function(xhr, status, error) {
        // Maneja el error de la solicitud AJAX, si es necesario
        console.error(error);
      }
    });
  });



  $(document).ready(function() {
    // ...
    var dropdownMenu = $('#direcciones');
    // Evento que se dispara al seleccionar un elemento del menú desplegable
    dropdownMenu.on('click', '.dropdown-item', function(event) {
      console.log("Entro al click")
      event.preventDefault(); // Evita el comportamiento predeterminado del enlace
  
      var selectedItem = $(this).text(); // Obtiene el texto del elemento seleccionado
  
      // Objeto con los datos a enviar al backend
      var postData = {
        selectedOption: selectedItem,
        type: true
      };
      var csrfToken = getCookie('csrftoken');
  
      // Hacer la solicitud AJAX al backend de Django con el método POST
      $.ajax({
        url: '/selctdirection/',
        type: 'POST',
        headers: {
          'X-CSRFToken': csrfToken // Agregar el token CSRF en la cabecera de la solicitud
        },
        dataType: 'json',
        data: postData, // Datos a enviar en el cuerpo de la solicitud
        success: function(response) {
          if (response.response){
            window.location.href = '/addDirection/';
          }else{
            location.reload();
          }
        },
        error: function(xhr, status, error) {
          // Maneja el error de la solicitud AJAX, si es necesario
          console.error(error);
        }
      });
    });
  });

  $(document).ready(function() {
    // ...
    var dropdownMenu = $('#lista');
    // Evento que se dispara al seleccionar un elemento del menú desplegable
    dropdownMenu.on('click', '.dropdown-item', function(event) {
      console.log("Entro al click")
      event.preventDefault(); // Evita el comportamiento predeterminado del enlace
  
      var selectedItem = $(this).text(); // Obtiene el texto del elemento seleccionado
  
      // Objeto con los datos a enviar al backend
      var postData = {
        selectedOption: selectedItem,
        type: false
      };
      var csrfToken = getCookie('csrftoken');
  
      // Hacer la solicitud AJAX al backend de Django con el método POST
      $.ajax({
        url: '/selctdirection/',
        type: 'POST',
        headers: {
          'X-CSRFToken': csrfToken // Agregar el token CSRF en la cabecera de la solicitud
        },
        dataType: 'json',
        data: postData, // Datos a enviar en el cuerpo de la solicitud
        success: function(response) {
          if (response.response){
            window.location.href = '/addList/';
          }else{
            window.location.href = '/miLista?lista='+ selectedItem;
          }
        },
        error: function(xhr, status, error) {
          // Maneja el error de la solicitud AJAX, si es necesario
          console.error(error);
        }
      });
    });
  })
</script>