.Title{
    font-weight: bold;
}

.Subtitle{
    font-weight: lighter;
}

.Description{
    font-weight: bold;
    
}

.Container{
    display: flex;
    justify-content: center;
}

.ContainerImage{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cointainerProduct {
    width: 50%;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #e8e8e8;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

