{% include "layouts/header.html"%}
{% block content %}

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Detalles de la subasta</title>
      <link rel="stylesheet" href="{% static 'styles/styleb.css' %}" />
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    </head>
      <body>
        <!-- Navigacion-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container px-4 px-lg-5"></div>
        </nav>
        <!-- Producto-->
        <section class="py-5">
          <div class="container px-4 px-lg-5 my-5">
            <div class="d-flex flex-row-reverse">
                <h3 style="color: red;"> Subasta </h3>
            </div>
        
            <div class="float-end">
              <br>
              {% if edit_mode %}
              <input type="text" class="form-control" value="{{ value }}">
              {% else %}
              <button type="button" class="btn btn-primary" id="edit-button">Nueva oferta</button>
              {% endif %}
            </div>
            {% for item in infoDet %}
            <div class="row gx-4 gx-lg-5 align-items-left">
              {% for item in infoDet %}
             <div class="containerIm" style="width:35% ;padding:2%">
              <div class="column" style="width: 20%; margin-top: 3%;">
                {% for image in item.13 %}
                <div class="row">
                  <img src="{{ image }}" style="margin-bottom: 5%; height: 80px" onclick="changeMainImage('{{ image }}')">
                </div>
                {% endfor %}
              </div>
              <div class="column" style="width: 80%">
                <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                <img id="expandedImg" src="{{ item.13.0 }}" style="width: 100%; height: 400px">
              </div>
              {% endfor %}
              </div>
                <div class="col-md-6">
                  <h3 class="display-6 fw-bolder" id="prodName">{{ item.0 }} </h3>
                  <p class="lead">{{ item.2 }} <br> Marca: {{ item.3 }}  <br> Modelo: {{ item.4 }}<br> </p>
                  <div class="fs-4 mb-4">
                    <span> Oferta: </span>
                    <span class="lead" style="color: blue;""><strong>${{ item.11 }}</strong></span>
                  </div>
                  <div d-flex-row>
                    <span class="lead"> Estado: </span>
                    <span class="lead" ><strong>{{ item.5 }}</strong></span>
                  </div>
                  <div class="fs-5 mb-5">
                    <span style="color: green;">Subasta termina en: {{ item.12 }}</span>
                  </div>
                </div>
            </div>
            {% endfor %}
          </div>
        </section>
      </body>
    </html>

<script>
  function changeMainImage(imageUrl) {
  var expandedImg = document.getElementById('expandedImg');
  expandedImg.src = imageUrl;
  }
  
  document.addEventListener('DOMContentLoaded', function() {
    var editButton = document.getElementById('edit-button');
    editButton.addEventListener('click', function() {
      var inputField = document.createElement('input');
      inputField.setAttribute('type', 'text');
      inputField.setAttribute('class', 'form-control');
      inputField.setAttribute('value', '{{ value }}');
      inputField.setAttribute('name', 'edit-value');
      
      var parentDiv = this.parentNode;
      parentDiv.replaceChild(inputField, this);
    });
  });
</script>

{% endblock %}