{% include "layouts/header.html"%}

{% block content %}

    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <title>Compras</title>

        <link rel="stylesheet" href="\static\styles\compras.css">
    </head>

    <body>

        <div class="contenedor">
            <img src='\static\assets\compras.png' class="img-fluid Top" alt="...">
        </div>
        
        <div class="productos">

            <div class="banner">
                <h3>Esto te puede interezar</h3>
            </div>

            

        </div>
        
    </body>

    </html>
{% endblock %}