{% include "layouts/header.html"%}

{% block content %}

    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Busqueda</title>
      <link rel="stylesheet" href="{% static 'styles/busqueda.css' %}" />
    </head>
    <body>
        <main>
            <div class="paddingizq dropdown show" >
            <form id="orden-form" method="POST">
              {{ form1 }}
              <br>
              {{ form2 }}
              {% comment %} {{ form2 }} {% endcomment %}
              <input type="submit" value="Submit" style="display: none;">
            </form>
          </div>

            <section class="historial">
                {% for prod in infoprod %}
                <div class="my_container" > 
                
                    <div class="venta_item" alig="center">
                        <figure class ="ContainerImage">
                            <img class = "imgproduct"
                            src="{{prod.11}}" 
                            alt="ImgProd" height="100"/>
                        </figure>
                        <div>
                            <h3> {{ prod.0 }}</h3>
                            <p>Precio: ${{ prod.7 }} + ${{ prod.10 }} </p>
                            <p>{{ prod.6 }}</p>
                        </div>
                        <div class="buttons">
                            <div class="button blue">Ver detalles</div>
                        </div>
                    </div>                    
                </div>
                {% endfor %}

            </section>
        </main>
    </body>
    </html>
{% endblock %}
