{% include "layouts/header.html"%}

{% block content %}

    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <title>Compras</title>

        <link rel="stylesheet" href="\static\styles\compras.css">
    </head>

    <body>

        <div class="contenedor">
            <img src='\static\assets\compras.png' class="img-fluid Top" alt="...">
        </div>
        
        <div class="productos">

            <div class="banner">
                <h3>Esto te puede interezar</h3>
            </div>

            <div class="img-container">

                
                <ul class="header-productos">
                    {% for item in products %}
                    <li>    
                        <a class="hipervinculos" href="{% url 'details' %}?id={{ item.2 }}">
                            <div class="recorte">
                                <img src={{item.1}} class="rounded mx-auto d-block" alt="...">
                            </div>
                            <div class="txt">
                                {{item.0}}
                            </div>
                        </a>
                    </li>
                    {% endfor %}  

                </ul>
            </div>

        </div>
        
    </body>

    </html>
{% endblock %}