{% include "layouts/header.html"%}
{% block content %}

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Mis Productos</title>
      <link rel="stylesheet" href="{% static 'styles/styleb.css' %}" />
    </head>
    <body>
      <main >
        <h1 class = "text-center Title">Mis Productos</h1>
          <div class="paddingizq dropdown show" >
            <form id="orden-form" method="POST">
              {% csrf_token %}
              {{ form1 }}
              <br>
              {{ form2 }}
              {% comment %} {{ form2 }} {% endcomment %}
              <input type="submit" value="Submit" style="display: none;">
            </form>
            
          </div>

        {% for item in htmlinfo %}
        <div class= "cointainerProduct">
          <div class = "column1">
            <figure class ="ContainerImage">
              <img class = "imgproduct"
              src="{{item.6}}" 
              alt="Logo"/>
          </figure>
          </div>
          <div class = "column2">
            <h2> Producto </h2>
            <h4> N.Orden: {{item.0}}</h4>
            <h4> Tipo: {{item.1}} </h4>
            <h4> Costo: {{item.2}} </h4>
            <h4> Costo Envio: {{item.3}} </h4>
            <h4> Estatus: {{item.4}} </h4>
            <h4> Dirección de Envio: {{item.5}} </h4>

          </div>
        </div>
        {% endfor %}

        {% comment %}  {% endcomment %}


        {% comment %} <div class= "cointainerProduct">
          <div class = "column1">
            <figure class ="ContainerImage">
              <img class = "imgproduct"
              src="{% static 'assets/Coco.png' %}" 
              alt="Logo"/>
          </figure>
          </div>
          <div class = "column2">
            

          </div>
        </div>


        <div class= "cointainerProduct">
          <div class = "column1">
            <figure class ="ContainerImage">
              <img class = "imgproduct"
              src="{% static 'assets/Coco.png' %}" 
              alt="Logo"/>
          </figure>
          </div>
          <div class = "column2">
            <h2> Producto </h2>
            <h4> N.Orden: </h4>
            <h4> Tipo: </h4>
            <h4> Costo: </h4>
            <h4> Costo Envio: </h4>
            <h4> Estatus: </h4>
            <h4> Dirección de Envio: </h4>

          </div>
        </div> {% endcomment %}




      </main>

      </body>
    </html>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('#orden-form');
    
        // Captura el evento de cambio en el formulario
        form.addEventListener('change', function() {
          // Envía el formulario automáticamente
          form.submit();
        });
      });
    </script>
    
{% endblock %}
