{% include "layouts/header.html"%}
{% block content %}

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Detalles del producto</title>

      <link rel="stylesheet" href="{% static 'styles/styleb.css' %}" />

      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    </head>
      <body>
                <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="container px-4 px-lg-5"></div>
              </nav>
              <!-- Product section-->
            
            
            <div style="width:97%; margin-left: 5%">
              {% for item in infoDet %}
             <div class="containerIm" style="width:35% ;padding:2%">
              <div class="column" style="width: 20%; margin-top: 3%;">
                {% for image in item.13 %}
                <div class="row">
                  <img src="{{ image }}" style="margin-bottom: 5%; height: 80px" onclick="changeMainImage('{{ image }}')">
                </div>
                {% endfor %}
              </div>
              <div class="column" style="width: 80%">
                <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                <img id="expandedImg" src="{{ item.13.0 }}" style="width: 100%; height: 400px">
              </div>

              </div> 
              
              <div class="containerIm" style="width:40%;margin-left:2%; float:left">
                <div class="column">
                  <h3 class="display-6 fw-bolder" id="prodName">{{ item.0 }} </h3>
                  <p class="lead">{{ item.2 }} <br> Marca: {{ item.3 }}  <br> Modelo: {{ item.4 }}  <br> </p>
                  <div class="fs-4 mb-4">
                    <span> Precio: ${{ item.7 }}  + ${{ item.12 }}  de envío</span>
                  </div>
                  <div d-flex-row>
                    <span class="lead"> Estado:  </span>
                    <span class="lead"><strong>{{ item.5 }}</strong></span>
                  </div>
                  <p class="lead">{{ item.1 }}</p>
                  <div class="fs-5 mb-5">
                    <span style="color:green">En stock: {{ item.8 }}</span>
                  </div>
                </div>
              </div>
              {% endfor %}

              <div class="containerIm" style="width:15%; float:left">
                <div class="row">
                  <button style="width:100%" class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Agregar a Favoritos
                  </button>
                  <form id="wish-form" method="POST">
                      {% csrf_token %}
                      <div class="dropdown-menu" style="width:15%; margin-left:0.5%;">
                          <button class="dropdown-item" onclick="getDataW('{{infoDet.0.11}}', 'Wish')" type="button" name="wish">WishList</button>
                          <button class="dropdown-item" onclick="createNewArray('{{infoDet.0.11}}')" type="button" name="new-array">Crear Nuevo</button>
                      </div>
                  </form>
                </div>
              
              
                <br>

                <div class="row">
                  <button style="width:100%" onclick="getData('{{infoDet.0.11}}')"class="btn btn-primary details-button" type="button" name="item">
                    <i class="bi-cart-fill me-1"></i>
                      Agregar al carrito
                  </button>
                  
                </div>      
              </div>

            </div>
            
  
      
              <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
              <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
      </body>
    </html>
{% endblock %}




<script>

  function changeMainImage(imageUrl) {
  var expandedImg = document.getElementById('expandedImg');
  expandedImg.src = imageUrl;
  }
  
  function getData(itemValue){
    console.log(itemValue)
    $.ajax({
            type: "POST",
            url: "/addCarrito/",
            async: false,
            data: {
                "item": itemValue,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
  
            },
            success: function (data) {
                alert("Producto agregado exitosamente al Carrito");
            },
            failure: function (data) {
                alert("Ha ocurrido un error, intentalo en unos minutos");
            }
          })
  
  }

  function getDataW(itemValue, arrayName) {
    console.log(itemValue, arrayName);
    $.ajax({
        type: "POST",
        url: "/addWishList/",
        data: {
            "wish": itemValue,
            "arrayName": arrayName,
            "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (data) {
            alert("Producto agregado exitosamente a " + arrayName);
        },
        error: function () {
            alert("Ha ocurrido un error, intentalo en unos minutos");
        }
    });
}

function createNewArray(itemValue) {
    var newArrayName = prompt("Ingrese el nombre para el nuevo arreglo");
    if (newArrayName) {
        $.ajax({
            type: "POST",
            url: "/createNewArray/",
            data: {
                "wish": itemValue,
                "arrayName": newArrayName,
                "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                alert("Nuevo arreglo creado exitosamente: " + newArrayName);
            },
            error: function () {
                alert("Ha ocurrido un error, intentalo en unos minutos");
            }
        });
    }
}
</script>
  