{% include "layouts/header.html"%}
{% block content %}
  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Carrito de Compra</title>
      <script src="https://kit.fontawesome.com/5aac42e89b.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
      <!-- No esta leyendo "carrito.css" a pesar de que antes si lo leia bien y no se le habia movido nada.
      Pasar todo el codigo igual a otro archivo con nombre "carrito1.css" fue la solucion temporal-->
      <link rel="stylesheet" href="{% static 'styles/carrito1.css' %}" />
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      

    </head>
    <body>
      
        <main>
            <div class="title"> Mi Carrito</div>
            <div class="container1">
              <div class="products_container">
                {% for item in htmlinfo %}
                <div class="card" style="padding-left: 20px; padding-top: 20px;"> <!-- card beginning -->
                  <div class="item_left" style="padding: 30px;">
                    <img src="{{ item.3 }}" width="100px" height="100px"> 
                  </div>
                  <div class="item_center">
                    <h3> {{ item.0 }} </h3>
                    <p> ${{ item.1 }}.00 </p>
                    <p style="color: gray; font-weight: 400; font-size: 0.75em;">{{ item.6 | truncatechars:"100" }}</p>
                  </div>
                  {% if item.6 == False %}
                    <div style="grid-column: 7; grid-template-columns: auto auto auto; padding-top: 100px; display: grid; align-content: baseline;">
                      <a href="{% url 'decrease-event' id=item.4 amount=item.2 %}" class="" style="text-decoration: none; color: black;">
                        <i class="fa-solid fa-minus" style="font-size: 2em; padding-right: 10px;"></i>
                      </a>
                      <h3> {{ item.2 }} </h3>
                      {% if item.2 != item.7 %}
                      <a href="{% url 'increase-event' id=item.4 amount=item.2 %}" class="" style="text-decoration: none; color: black;">
                        <i class="fa-solid fa-plus" style="font-size: 2em; padding-left: 10px;"></i>
                      </a>
                      {% endif %}
                    </div>
                    
                  {% endif %}
                  <div style="grid-column: 8; padding-left: 20px;">
                    <a href="{% url 'delete-event' id=item.4 %}" class="delete-icon" style="text-decoration: none; color: black; position: absolute; top: 12px; right: 10px;">
                      <i class="fa-solid fa-xmark" style="font-size: 2em;"></i>
                    </a>
                  </div>
                </div> <!-- card end -->
                {% endfor %}
              </div>
              <div class="total_container">
                <h2 style="padding-left: 20px;"> Resumen de compra </h2>
                <div class="total_container2" style="padding-top: 30px; padding-left: 20px;">
                  <total_text> Productos:</total_text>
                  <total_text style="text-align: end; padding-right: 20px;"> ${{prices.0}}.00</total_text>
                  <total_text> Envío:</total_text>
                  <total_text style="text-align: end; padding-right: 20px;"> ${{prices.1}}.00</total_text>
                  <total_text> Impuestos:</total_text>
                  <total_text style="text-align: end; padding-right: 20px;"> $0.00</total_text>
                </div>
                <hr style="align-self: center; border: 1px">
                <div class="total_container2" style="padding-left: 20px; ">
                  <h3> Total:</h3>
                  <h3 style="text-align: end; padding-right: 20px;"> ${{prices.2}}.00</h3>
                </div>
                <br>
                <div style="padding-left: 24%;">
                  <form action="{% url 'transaction' %}" method="POST">
                    {% csrf_token %}
                  <!--<a href="{% url 'transaction' %}">-->
                    <button class="button" value="Click">Realizar Compra</button>
                  </form>
                </div>
                <br>
              </div>
            </div>
            <div class="container2" style="padding-top: 0;">
              <hr style="width:60%;text-align:left;margin-left:0">
              <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
                <h4> Dirección de Entrega</h4>
              </div>
              <div class="container3">
                  <div class="dropdown show">
                    <a class="nav-link dropdown-toggle text-secondary py-0 " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Enviar a:
                    </a>
                    <form id="myForm">
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"  id = "direcciones_carrito">
                        {% csrf_token %}
                      </div>
                    </form>
                  </div>
                </form>
              </div>
            </div>
        </main>
    </body>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </html>

<script>
  $(document).ready(function() {
    // Hacer la solicitud AJAX al backend de Django
    $.ajax({
      url: '/obtener_elementos/',  // Reemplaza '/ruta/al/backend/' por la URL correcta de tu vista de Django
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        // 'data' contiene la respuesta del backend de Django
        // Puedes iterar sobre los e lementos recibidos y crear los enlaces del menú desplegable dinámicamente
        var dropdownMenu = $('#direcciones_carrito');  // Selecciona el menú desplegable
        var item = $('<a>').addClass('dropdown-item text-danger').text(data[0]);
        dropdownMenu.append(item);
        // Itera sobre los elementos recibidos y crea los enlaces del menú desplegable
        for (var i = 1; i < data.length; i++) {
          var item = $('<a>').addClass('dropdown-item').text(data[i]);
          dropdownMenu.append(item);
        }
      },
      error: function(xhr, status, error) {
        // Maneja el error de la solicitud AJAX, si es necesario
        console.error(error);
      }
    });
  });

  $(document).ready(function() {
    // ...
    var dropdownMenu = $('#direcciones_carrito');
    // Evento que se dispara al seleccionar un elemento del menú desplegable
    dropdownMenu.on('click', '.dropdown-item', function(event) {
      console.log("Entro al click")
      event.preventDefault(); // Evita el comportamiento predeterminado del enlace
  
      var selectedItem = $(this).text(); // Obtiene el texto del elemento seleccionado
  
      // Objeto con los datos a enviar al backend
      var postData = {
        selectedOption: selectedItem,
        type: true
      };
      var csrfToken = getCookie('csrftoken');
  
      // Hacer la solicitud AJAX al backend de Django con el método POST
      $.ajax({
        url: '/selctdirection/',
        type: 'POST',
        headers: {
          'X-CSRFToken': csrfToken // Agregar el token CSRF en la cabecera de la solicitud
        },
        dataType: 'json',
        data: postData, // Datos a enviar en el cuerpo de la solicitud
        success: function(response) {
          if (response.response){
            window.location.href = '/addDirection/';
          }else{
            location.reload();
          }
        },
        error: function(xhr, status, error) {
          // Maneja el error de la solicitud AJAX, si es necesario
          console.error(error);
        }
      });
    });
  });
</script>
{% endblock %}