{% include "layouts/header.html"%}
{% block content %}
  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Carrito de Compra</title>
      <script src="https://kit.fontawesome.com/5aac42e89b.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
      <!-- No esta leyendo "carrito.css" a pesar de que antes si lo leia bien y no se le habia movido nada.
      Pasar todo el codigo igual a otro archivo con nombre "carrito1.css" fue la solucion temporal-->
      <link rel="stylesheet" href="{% static 'styles/carrito1.css' %}" />
    </head>
    <body>
      
        <main>
            <div class="title"> Mi Carrito</div>
            <div class="container1">
              <div class="products_container">
                {% for item in htmlinfo %}
                <div class="card" style="padding-left: 20px; padding-top: 20px;"> <!-- card beginning -->
                  <div class="item_left" style="padding: 30px;">
                    <img src="{{ item.3 }}" width="100px" height="100px"> 
                  </div>
                  <div class="item_center">
                    <h3> {{ item.0 }} </h3>
                    <p> ${{ item.1 }}.00 </p>
                  </div>
                  <div style="grid-column: 7; grid-template-columns: auto auto auto; padding-top: 100px; display: grid; align-content: baseline;">
                    <a href="{% url 'decrease-event' id=item.4 amount=item.2 %}" class="" style="text-decoration: none; color: black;">
                      <i class="fa-solid fa-minus" style="font-size: 2em; padding-right: 10px;"></i>
                    </a>
                    <h3> {{ item.2 }} </h3>
                    <a href="{% url 'increase-event' id=item.4 amount=item.2 %}" class="" style="text-decoration: none; color: black;">
                      <i class="fa-solid fa-plus" style="font-size: 2em; padding-left: 10px;"></i>
                    </a>
                  </div>
                  <div style="grid-column: 8; padding-left: 20px;">
                    <a href="{% url 'delete-event' id=item.4 %}" class="" style="text-decoration: none; color: black;">
                      <i class="fa-solid fa-xmark" style="font-size: 2em;"></i>
                    </a>
                  </div>
                </div> <!-- card end -->
                {% endfor %}
            <!--<div class="card" style="padding-left: 20px; padding-top: 20px;">
                  <div class="item_left" style="padding: 30px;">
                    <img src="{% static 'assets/walkman.png' %}" width="100px" height="100px"> 
                  </div>
                  <div class="item_center">
                    <h3> Producto 2 </h3>
                    <p> $650.00 </p>
                  </div>
                  <div style="grid-column: 7; grid-template-columns: auto auto auto; padding-top: 100px; display: grid; align-content: baseline;">
                    <i class="fa-solid fa-minus" style="font-size: 2em; padding-right: 10px;"></i>
                    <h3>  1  </h3>
                    <i class="fa-solid fa-plus" style="font-size: 2em; padding-left: 10px;"></i>
                  </div>
                  <div style="grid-column: 8; padding-left: 20px;">
                    <i class="fa-solid fa-xmark" style="font-size: 2em;"></i>   
                  </div>
                </div> -->
              </div>
              <div class="total_container">
                <h2 style="padding-left: 20px;"> Resumen de compra </h2>
                <div class="total_container2" style="padding-top: 30px; padding-left: 20px;">
                  <total_text> Productos:</total_text>
                  <total_text style="text-align: end; padding-right: 20px;"> ${{prices.0}}.00</total_text>
                  <total_text> Envío:</total_text>
                  <total_text style="text-align: end; padding-right: 20px;"> ${{prices.1}}.00</total_text>
                  <total_text> Impuestos:</total_text>
                  <total_text style="text-align: end; padding-right: 20px;"> $0.00</total_text>
                </div>
                <hr style="align-self: center; border: 1px">
                <div class="total_container2" style="padding-left: 20px; ">
                  <h3> Total:</h3>
                  <h3 style="text-align: end; padding-right: 20px;"> ${{prices.2}}</h3>
                </div>
                <br>
                <div style="padding-left: 24%;">
                  <form action="{% url 'transaction' %}" method="POST">
                    {% csrf_token %}
                  <!--<a href="{% url 'transaction' %}">-->
                    <button class="button" value="Click">Realizar Compra</button>
                  </form>
                </div>
                <br>
              </div>
            </div>
            <div class="container2" style="padding-top: 0;">
              <hr style="width:60%;text-align:left;margin-left:0">
              <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
                <h4> Dirección de Entrega</h4>
                <p style="color: lightseagreen; grid-column: 3;"> Editar</p>
              </div>
              <div class="container3">
                <p> Mariano Arista 801</p>
                <p> Residencial Los Castaños </p>
                <p> C.P. 52172 Metepec, México </p>
              </div>
            </div>
            <div class="container2" style="padding-top: 0;">
              <hr style="width:60%;text-align:left;margin-left:0">
              <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
                <h4> Método de Pago </h4>
                <p style="color: lightseagreen; grid-column: 3;"> Editar</p>
              </div>
              <div class="container3">
                <p> <b>Visa</b> terminando en 8151</p>
                <p> Domicilio: La misma que la de envío </p>
                <p> Agrega un código de promoción o tarjeta de regalo </p>
              </div>
            </div>
        </main>
    </body>
  </html>
{% endblock %}