{% include "layouts/header.html"%}

{% block content %}

  {% load static %}
  <!DOCTYPE html>
<html>
<head>
  <title>Árbol de Categorías</title>
</head>
<body>
  <!-- menu.html -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menú
        </a>
        <ul class="dropdown-menu" aria-labelledby="menuDropdown">
          {% for categoria in menu_data %}
            <li class="nav-item dropdown dropend">
              <a class="nav-link dropdown-toggle" href="#" id="categoria{{ loop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ categoria.categoria }}
              </a>
              {% if categoria.subcategorias %}
                <ul class="dropdown-menu dropend" aria-labelledby="categoria{{ loop.index }}">
                  {% for subcategoria1 in categoria.subcategorias %}
                    <li>
                      <a class="dropdown-item dropdown-toggle" href="#" id="subcategoria1{{ loop.parent.index }}-{{ loop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ subcategoria1.categoria }}
                      </a>
                      {% if subcategoria1.subcategorias %}
                        <ul class="dropdown-menu dropend" aria-labelledby="subcategoria1{{ loop.parent.index }}-{{ loop.index }}" data-bs-popper="none">
                          {% for subcategoria2 in subcategoria1.subcategorias %}
                            <li><a class="dropdown-item" href="/searchByCategory?categoria={{ categoria.categoria }}&subcategoria={{ subcategoria1.categoria }}&subcategoria2={{ subcategoria2.categoria }}">{{ subcategoria2.categoria }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
  
  
</body>
</html>
<script>


  // Evitar el cierre del menú al hacer clic en elementos del tercer nivel
  $('.dropdown-menu').on('click', function (e) {
    e.stopPropagation();
  });
</script>

{% endblock %}


