{% include "layouts/header.html"%}

{% block content %}

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Lista de deseos</title>
      <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    </head>
    <body>
      <h2 style="text-align: center;">Lista: {{ title }}</h2>
      <h2 style="text-align: center;">{{ alert }}</h2>
      {% for item in products %}
        <div class="containercenter">
          <div class="container container-border">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col">
                    <figure class ="ContainerImage">
                      <img class = "imgproduct"
                      src="{{item.2}}" 
                      alt="Logo"/>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col">
                    <br>
                    <h3>{{item.0}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h3>{{item.1}}</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col">
                    
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <br>
                    <button class="btn btn-primary details-button" data-item="{{item.3}}">Mas Detalles</button>
                  </div>                  
                </div>
                <div class="row">
                  <div class="col">
                    
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      {% endfor %}     
      </body>
    </html>

    <style>
      .containercenter {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .container-border {
        border: 1px solid #ccc;
        padding: 15px;
        margin: 20px;
      }
      .imgproduct{
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 200px;
          max-height: 200px;
      }
    </style>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var buttons = document.querySelectorAll('.details-button');
    
        buttons.forEach(function(button) {
          button.addEventListener('click', function(event) {
            event.preventDefault(); // Evita el comportamiento predeterminado del botón
    
            var itemValue = this.getAttribute('data-item');
            console.log(itemValue);
    
            $.ajax({
              url: '/addCarrito/',
              method: 'POST',
              data: {
                item: itemValue,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(response) {
                // Procesa la respuesta exitosa si es necesario
              },
              error: function(xhr, errmsg, err) {
                // Maneja el error si es necesario
              }
            });
          });
        });
      });
    </script>
    

{% endblock %}

