.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}
  
.contenedor img {
    max-width: 100%;

}


.productos .banner {
    padding-left: 150px;
    margin-bottom: 20px;
}

.header-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin-left: 60px;
    
}

.img-container li {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.recorte {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    overflow: hidden;
}

.recorte .imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt {
    display: block;
}

@media screen and (max-width: 800px) and (min-width: 799px) {
    .productos .banner {
        padding-left: 5px;
        margin-bottom: 5px;
    }
    .img-container li {
      flex-basis: 100%; 
    }
    .txt {
        display: none;
    }
    .img-container img{
        width: 50px;
        height: 50px;
    }
}